.header {
    text-align: center;
    font-family: FontAwesome;
    margin-bottom: 10px;
    font-weight: 700;
}

.header-module-name {
    color: #eb8900;
}

.header-features {
    font-weight: 700;
    font-family: FontAwesome;
    font-size: 22px;
    margin-bottom: 1px;
}

.screenshot {
    display: block;
    border: none;
    width: 70%;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

.feature-box {
    box-sizing: border-box;
    padding: 10px 10px;
    border: 2px solid #dfdee8;
    text-align: center;
    width: 48%;
    word-wrap: break-word;
    font-family: FontAwesome;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feature-body {
    margin-top: 1px;
    margin-bottom: 2px;
}

.divider {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
}

.divider-img {
    height: 10px;
    width: 70%;
}

.devider-header {
    height: 10px;
    width: 40%;
}

.description {
    font-family: FontAwesome;
    font-size: 26px;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.description-lines {
    text-align: center;
}

.company-logo {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.company-email-footer {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
}

.company-email-footer-weight {
    font-weight: 700;
}

.company-logo-link {
    color: black;
    text-decoration: none;

}

.company-logo-link:hover {
    color: orange;
}

.company-logo-div {
    width: 15%;
    margin: 0 auto;
}

.company-logo-div-email {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.company-logo-email {
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    padding: 10px 33px;
    background-color: black;
    text-decoration: none;
    border-radius: 45px;
}

.company-logo-email:hover {
    color: white;
    background-color: #696969;
}

.footer {
    margin-bottom: 70px;
}